/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

a {
    color: inherit;
    text-decoration: none;
}

#root, #__next {
    isolation: isolate;
}

.container {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100vh;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100vh;
}

.home-content {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding-top: 3rem;
    gap: 1rem;
}

.home-login button {
    background-color: #369aff;
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.home-login:hover button {
    background-color: #1e6fd4;
}

.home-register button {
    background-color: #369aff;
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.home-register:hover button {
    background-color: #1e6fd4;
}

.form-image-login {
    width: 450px;
    border-radius: 10px 0px 0px 10px;
}

.form-image-register {
    width: 625px;
    border-radius: 10px 0px 0px 10px;
}

.form-image-login img {
    width: 100%;
    border-radius: 10px 0px 0px 10px;
}

.form-image-register img {
    width: 100%;
    border-radius: 10px 0px 0px 10px;
}

.form-content {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: fit-content;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.form-fill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 2rem;
    border-radius: 0px 10px 10px 0px;
    width: fit-content;
    padding: 5rem;
}

.form-header {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 2rem;
}

.form-card {
    background-color: white;
    padding: 3rem;
    border-radius: 10px;
    width: 100%;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: left;
    margin-bottom: 10px;
}

.form-input label {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-input input {
    border: 2px solid #dedede;
    border-radius: 10px;
    padding: 5px;
    width: 250px;
}

.form-input a {
    text-align: right;
    margin: 10px 0px 1rem 0px
}

.form-button {
    margin-top: 2rem;
}

.form-button button {
    background-color: #369aff;
    color: white;
    border-radius: 8px;
    width: 100%;
    height: 35px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.form-button a {
    padding: 10px 95px;
    border-radius: 8px;
}

.form-button button:hover {
    background-color: #1e6fd4;
}